* {
    margin: 0;
    padding: 0;
    /* background-color: bisque; */
}

body {
    width: 100%;
}

div img {
    margin-top: 20px;
    display: block;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}

.center h3 {
    text-align: center;

}

.center p {
    text-align: center;
}

.service {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.service1,
.service2 {
    width: 49%;
    border: 2px solid red;
    border-radius: 5px;
    margin-bottom: 5px;
    display: inline-block;
    list-style: none;
}

.service1 h5 {
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.service1 p {
    text-align: center;
}

.list {
    width: 50px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.service2 h5 {
    text-align: center;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.service2 p {
    text-align: center;
}

button {
    border: 1px solid cadetblue;
    position: relative;
    left: 40%;
    padding: 15px;
    border-radius: 10px;


}

a {
    text-decoration: none;
    color: darkcyan;
    font-size: 20px;
}

form {
    width: 48%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 10px 10px 50px;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
}

form h3 {
    text-align: center;
    margin-bottom: 10px;

}


.inputbox {
    padding: 5px;
    border: 1px solid #0095ff;
    border-radius: 5px;
}

#click {
    padding: 5px;
}

input[type=submit] {
    position: relative;
    left: 48%;
    padding: 5px 30px;
    border: 2px solid #0095ff;
    border-radius: 5px;
}